@font-face {
    font-family: "NanitoSans";
    src: local("NanitoSans-Black"),
      local("NanitoSans-Black"),
      url("NanitoSans-Black.ttf") format("ttf"),
      url("nanitosans-black.woff") format("woff"),
      url("nanitosans-black.woff2") format("woff2"),
    
  }

.Logo{
    width: 96px;
    height: 106px;
    position: absolute;
    left: 23px;
}

.Head{
    background-color: rgb(42, 42, 42);
    height: 106px;
}


.Head {
    font-family: "NanitoSans", sans-serif;
}


.navigation{
    font-size: 36px !important;
    display: inline;
    position: absolute;
}

.anable{
    color: rgb(255, 255, 255);
}

.disable{
    color: rgb(114, 114, 114);
}

.txt{
    margin-left: 556px;
}

.doc{
    margin-left: 764px;
}

.url{
    margin-left: 1292px;
}

