@font-face {
    font-family: "NanitoSans";
    src: local("NanitoSans-Black"),
      local("NanitoSans-Black"),
      url("NanitoSans-Black.ttf") format("ttf"),
      url("nanitosans-black.woff") format("woff"),
      url("nanitosans-black.woff2") format("woff2"),
    
}

.text_input{
    box-sizing: border-box;
    border: 4px solid rgb(89, 89, 89);
    border-radius: 15px;
    box-shadow: inset 0px 4px 14px 6px rgba(0, 0, 0, 0.25);
    background: rgb(42, 42, 42);
    /* position: absolute; */
    width: 1034px;
    height: 500px; 
    
    margin-left: 21.5%;
}



.text_input{
    font-family: "NanitoSans", sans-serif;
}

.text_input{
    color: rgba(255, 255, 255, 0.79);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: start;
}

/* .text_input {
    resize: none;
    overflow: hidden;
    min-height: 65px;
    max-height: 100px;
} */

section{
    position: absolute;
    width: 1701px;
    height: 100%;
    left: 110px;
    right: 109px;
    top: 135px;
    bottom: 0;
}

.Processing_btn {
  width: 458px;
  height: 93px;
  border-radius: 42px;
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
  margin-left: 37%;
  margin-top: 26px;
}

.Processing_btn:hover {
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
  opacity: 0.6; 
}

.Processing_btn::after {
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
  opacity: 0.6;   
}

.Processing_btn {
  font-family: "NanitoSans", sans-serif;
  font-weight: 600px;
  font-size: 36px;
}

.Processing_btn>img{
  width: 212px;
  height: auto;
}

.answer-txt-frame{
  border: 2px solid rgb(89, 89, 89);
  padding: 12px;
  min-height: 1000px;
}

.answer-txt{
  width: 1033.74px;
  margin-top: 150px;
  box-shadow: 10px 10px 16px 6px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255); 
  margin-left: 20%;
  padding: 20px;
  

}

